@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  outline: none;
}
html{
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1em;
  line-height: 135%;
}
img{
  max-width: 100%;
  height: auto;
  width: auto\9; /*IE8 */
}
a{
  color: #d38484;
  text-decoration: none;
}
a, a:hover{
  -webkit-transition: all.6s easy;
  -o-transition: all.6s easy;
  -ms-transition: all.6s easy;
  -moz-transition: all.6s easy;
  transition: all.6s easy;
}
.clear{
  clear: both;
}
/* styles for site */
header{
  width: 98%;
  float: left;
  padding: 1%;
  background-color: #fafafa;
  border-bottom: 2px solid red;
}
#logo{
  width: 40%;
  float: left;
  color: #939393;
  font-size: 2em;
  font-family: "Times New Roman",sans-serif;
}
#logo span{
  color: #e36565;
}
#logo a{
  color: #939393;
  font-size: 2em;
  font-family: "Times New Roman",sans-serif;
}
#menuHead{
  width: 24%;
  float: left;
}
#menuHead div{
  float: left;
  padding: 5px;
  background: #c8c8c8;
  border-radius: 5px;
  color: white;
}
#menuHead div:hover{
  background: #e7e7e7;
}
#regAuth{
  width: 30%;
  float: left;
  text-align: right;
  font-size: 1.2em;
}

footer{
  width: 98%;
  float: left;
  padding: 1%;
  background-color: #fafafa;
  border-top: 2px solid silver;
  margin-top: 10px;
}
footer #social{
  float: left;
  width: 50%;
  text-align: right;

}
footer img{
  width: 30px;
  float: left;
  margin-right: 5px;
}
footer #rights{
  float: right;
  width: 50%;
  text-align: right;
  font-size: 1.1em;
}
#wrapper{
  width: 80%;
  margin-left: 10%;
}
section{
  float: left;
  width: 70%;
  margin-right: 10%;
}
aside{
  float:right;
  width: 20%;
}
.banner img{
  width: 100%;
  float: left;
  margin-top: 20px;
}
.bigArticle{
  width: 78%;
  margin-left: 10%;
  background-color: #f6f6f6;
  padding: 1%;
}
.bigArticle img, .smallArticle img{
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
.bigArticle h2{
  font-weight: normal;
  font-size: 1.4em;
  color: #636363;
  font-family: "Comic Sans MS", sans-serif;
}
.bigArticle p, .smallArticle p{
  width: 90%;
  margin-left: 5%;
}
.bigArticle div, .smallArticle div{
  padding: 5px;
  border-radius: 5px;
  background-color: #878787;
  color: #fff;
  width: 40%;
  text-align: center;
}
.bigArticle div:hover{
  background-color: #a2a2a2;
}
.smallArticle{
  width: 40%;
  margin-left: 5%;
  background-color: #f6f6f6;
  padding: 5px;
  float: left;
}
#aboutUs{
  width: 76%;
  margin-left: 10%;
  border: 1px solid silver;
  background-color: #f4f4f4;
  padding: 2%;
}
section input{
  width: 40%;
  margin-left: 30%;
  float: left;
  border-radius: 5px;
  border: 2px solid silver;
  padding: 5px;
  color: black;
  margin-top: 10px;
  font-size: 1.2em;
}
section input:focus{
  border: 2px solid #f78080;
}
section input #done:hover{
  cursor: alias;
  border: 2px solid #f8f881;
}
section textarea{
  width: 50%;
  height: 150px;
  margin-left: 30%;
  float: left;
  border-radius: 5px;
  border: 2px solid silver;
  padding: 5px;
  color: #afebf8;
  margin-top: 10px;
  font-size: 1.2em;
  resize: none;
}
section textarea:focus{
  border: 2px solid #f78080;
}
#messageShow{
  font-size: 1.2em;
  float: left;
  color: red;
}
